.usy-progress-bar-container {
    box-sizing: border-box;
    border-width: 0;

    * {
        box-sizing: border-box;
    }

    position: absolute;
    bottom: 0;
    min-height: 15px;
    height: 15px;
    max-height: 15px;
    cursor: pointer;
    width: 100%;
    z-index: 9999999999999;

    &:hover .usy-progress-bar {
        height: 6px;
        opacity: 1;
    }

    .usy-progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 3px;
        height: 3px;
        max-height: 6px;
        width: 0;
        z-index: 9999999999999;
        background-color: white;
        transition: width 0.4s ease-in-out, height 0.2s ease-in-out, opacity 0.2s linear;

        border-width: 0;
        border-style: solid;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-color: transparent;

        opacity: 0.4;
    }

    .usy-time-count {
        position: absolute;
        right: 0;
        top: -3.9em;
        width: 100%;
        text-align: right;
        border-right: 10px;
        border-style: solid;
        border-color: transparent;

        pointer-events: none;

        font: inherit;
        color: inherit;
    }
}